/* 
    Document   : form
    Created on : 2013-apr-16, 13:19:57
    Author     : Håkan
    Description:
        Purpose of the stylesheet follows.
*/

div { 
    display: block;
}
.gb_mess {
    width: 380px;
    padding: 10px;
    background-color: cornsilk;
    border: 1px solid black;
}
